

    <footer class="footer mt-auto">
         <ul class="social-icons">
              <li>
              <a href="https://www.instagram.com/liubovtrudova/?hl=en" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
              </li>
          </ul>
        <p>&copy; <span id="date"></span>Liubov Trudova. All rights reserved</p>
    </footer>
