  <% layout('layouts/boilerplate') %> 
  <div class="row mt-5">
      <div class="col-8 offset-2">
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p><%= message %> </p>
  <hr>
  <h4 class="mb-0"><%= statusCode %> </h4>
</div>
</div>
</div>