   <% layout('layouts/boilerplate') %> 
    <%- include('./partials/flash.ejs') %> 
   <header class="hero">
       <div class="section-center hero-center">
           <article class="hero-info">
               <div class="underline"></div>
               <h1>I'm Liubov  </h1>
               <h4>Web && Mobile developer // Node.js && Android Java </h4>
               <a href="/contacts" class="btn hero-btn">hire me</a>
               <ul class="social-icons hero-icons">
                    <li>
                    <a href="https://www.instagram.com/liubovtrudova/?hl=en" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                    </li>
          </ul>
           </article>

           <article class="hero-img">
               <div class="hero-photo-container">
               <img src="/images/hero-img.jpeg" class="hero-photo" alt="Liubov Trudova">
               </div>
           </article>
            <a href="/" class="arrow up "> <i class="fas fa-arrow-up fa-3x"></i></a>
       </div>
       
   </header>
   <!-- ABOUT -->
   <section class="section about">
       <div class="section-center about-center">
           <article class="about-img">
               <img src="/images/about-img.jpeg" class="hero-photo-about" alt="Liubov Trudova">
            </article>
           <article class="about-info">
               <!-- section title -->
               <div class="section-title about-title">
                   <h2>short introduction</h2>
                   <div class="underline"></div>
               </div>
               <!--end of section title -->
               <p>Hello, my name is Liubov Trudova, and I think I have rights to call myself 
 Software Engineer. A few words about my experience in tech:
Java certified, with above 4 years of hands-on experience in Information Technology through Manual Testing, Automation Testing of software applications across multiple technologies and platforms.  A years of working in functional testing allowed me to acquire enough knowledge to create my own software. </p>
               <p>And I believe that,  strong understanding in Software Development Life Cycle (SDLC) and  Software Testing Life Cycle (STLC) with contribution in all phases of it. As well as passion to learn will make me a good team member at any company. </p>
               <a href="/about" class="btn">experience</a>
           </article>
       </div>
   </section>

    <!-- END OF ABOUT -->
    <!-- SERVICES -->
<section class="section bg-grey">
       <!-- section title -->
               <div class="section-title ">
                   <h2>What can i do</h2>
                   <div class="underline"></div>
               </div>
               <!--end of section title -->
               <div class="services-center section-center">
                   <!-- single servise -->
                   <article class="service">
                       <i class="fas fa-code service-icon"></i>
                       <h4>Web development</h4>
                      <div class="underline"></div>
                      <p>Development of web application using technology such as Node.s, ejs, MongoDB,  Vanilla JavaScript, Bootstrap,  CSS</p>
                   </article>
                     <!--end of single servise -->

                      <!-- single servise -->
                   <article class="service">
                       <i class="fas fa-search service-icon"></i>
                       <h4>Web testing </h4>
                      <div class="underline"></div>
                      <p>Functional testing using Java, Selenium, Rest-assured, and all other good stuff. Check out the about section.</p>
                   </article>
                     <!--end of single servise -->

                      <!-- single servise -->
                   <article class="service">
                       <i class="fab fa-android service-icon"></i>
                       <h4>Mobile development</h4>
                      <div class="underline"></div>
                      <p>Good old Java will never be forgotten. Android development is my new favorite hobby </p>
                   </article>
                     <!--end of single servise -->
               </div>
</section>
      <!--END OF SERVICES -->

      <!-- WORKING ON  -->
<section class="section projects">

      <!-- section title -->
               <div class="section-title ">
                   <h2>working on at the moment</h2>
                   <div class="underline"></div>
                   <p class="projects-text">I like working on multiple projects at the same time. It helps me to keep my mind  sharp, and integrate new features to all of my projects. You can look at the applications I am working on currently, in the projects section.</p>
               </div>
               <!--end of section title -->
               <div class="section-center projects-center">
                   <!-- single project -->

                   <a href="/projects" class="project-1">
                <article class="project">
                    <img src="/images/project-2.jpeg" alt="single project" class="project-img">
                    <div class="project-info">
                        <h4>QA_inIT</h4>
                        <p> QA_inIT it’s a web application where any one can share the questions they got during  the interview, and others can help with the best answer </p>
                    </div>
                </article>
            </a>
                      <!-- end of single project -->

                            <!-- single project -->

                   <a href="/projects" class="project-2">
                <article class="project">
                    <img src="/images/project-1.jpeg" alt="single project" class="project-img">
                    <div class="project-info">
                        <h4>Mobile projects</h4>
                        <p>All I am working on at the moment available on the GitHub, feel free to explore the source code</p>
                    </div>
                </article>
            </a>
                      <!-- end of single project -->

                            <!-- single project -->

                   <a href="/projects" class="project-3">
                <article class="project">
                    <img src="/images/project-3.jpeg" alt="single project" class="project-img">
                    <div class="project-info">
                        <h4>personal</h4>
                        <p>This portfolio website also one of the biggest projects of mine, and it’s not even finished yet. Most the features hidden under admin rights,but all the CRUD operators fully implemented, and saving me a lot of time.</p>
                    </div>
                </article>
            </a>
                      <!-- end of single project -->

                            <!-- single project -->

                   <a href="/projects" class="project-4">
                <article class="project">
                    <img src="/images/project-4.jpeg" alt="single project" class="project-img">
                    <div class="project-info">
                        <h4>CampStop</h4>
                        <p>
The big dream of mine, it is travel the whole world. Middle dream of mine  travel the whole United States.  I really enjoyed working on the Camp-Stop.</p>
                    </div>
                </article>
            </a>
                      <!-- end of single project -->
               </div>
</section>
<!--END OF SECTION PROJECTS -->

<!-- CONNECT ME  -->
<section class="connect">
    <video controls autoplay muted loop class="video-container" poster="/images/project-3.jpeg">
        <source src="/videos/connect.mp4" type="video/mp4">
        Sorry, your browser does not support embedded videos :-( 
    </video>
    <div class="video-banner">

     <!-- section title -->
               <div class="section-title about-title">
                   <h2>Let's get in touch</h2>
                   <div class="underline"></div>
               </div>
               <!--end of section title -->  
               <p class="video-text">
                  I am currently looking for Developer position.  For any openings please send me a message here or by email (contacts section ). Also, very soon,  registered users will be enjoying ability to message others  directly here, or on different project of mine… I am working on it.
If you are some one who needs a website, also let me know, I’ll do it for you.
               </p> 
               <a href="/contacts" class="btn">contact me</a>     
    </div>
</section>
<!-- END OF CONNECT ME  -->

    <!-- SKILLS -->
    <section class="section skills">
      <!-- section title -->
      <div class="section-title">
        <h2>skills</h2>
        <div class="underline"></div>
      </div>
      <!--end of section title -->
      <div class="section-center skills-center">
        <article>
          <h3>front end</h3>
          <!-- single skill -->
          <div class="skill">
            <p>HTML/CSS</p>
            <div class="skill-container">
              <div class="skill-value value-55"></div>
              <p class="skill-text skill-text-55">
                55%
              </p>
            </div>
          </div>
          <!--end of  single skill -->
          <!-- single skill -->
          <div class="skill">
            <p>Javascript</p>
            <div class="skill-container">
              <div class="skill-value value-66"></div>
              <p class="skill-text skill-text-66">
                66%
              </p>
            </div>
          </div>
          <!--end of  single skill -->
          <!-- single skill -->
          <div class="skill">
            <p>Bootstrap</p>
            <div class="skill-container">
              <div class="skill-value value-55"></div>
              <p class="skill-text skill-text-55">
                55%
              </p>
            </div>
          </div>
          <!--end of  single skill -->
        </article>
        <article>
          <h3>back end</h3>
          <!-- single skill -->
          <div class="skill">
            <p>Node.js</p>
            <div class="skill-container">
             <div class="skill-value value-66"></div>
              <p class="skill-text skill-text-66">
                66%
              </p>
            </div>
          </div>
          <!--end of  single skill -->
          <!-- single skill -->
          <div class="skill">
            <p>SQL</p>
            <div class="skill-container">
              <div class="skill-value value-70"></div>
              <p class="skill-text skill-text-70">
                70%
              </p>
            </div>
          </div>
          <!--end of  single skill -->
          <!-- single skill -->
          <div class="skill">
            <p>Java</p>
            <div class="skill-container">
              <div class="skill-value value-70"></div>
              <p class="skill-text skill-text-70">
                70%
              </p>
            </div>
          </div>
          <!--end of  single skill -->
        </article>
      </div>
    </section>
    <!-- end of skills -->