   <% layout('layouts/boilerplate') %> 
<div class="row">
  <h1 class="text-center">New Project</h1>
  <div class="col-6 offset-3">


<form action="/projects" method="post" novalidate class="validated-form">
      <div class="mb-3">
        <label for="projectName" class="form-label">Title</label>
        <input type="text" id="projectName" , name="project[projectName]" class="form-control" required/>
      </div>

       <div class="mb-3">
        <label for="siteLink" class="form-label">link to the project</label>
        <input type="text" id="siteLink" , name="project[siteLink]" class="form-control" required/>
      </div>
       <div class="mb-3">
        <label for="codeLink" class="form-label">link to the project code</label>
        <input type="text" id="codeLink" , name="project[codeLink]" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image url</label>
        <input type="text" id="image" , name="project[image]" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="project[description]"cols="30"rows="10" class="form-control" required></textarea>
      </div>
      <button  class="btn mb-5" >add project</button>
    </form>

 </div>
  </div>
